<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Routes</th>
    </tr>
  </thead>

  <tbody>
    <% @routes.each do |route| %>
      <tr class="<%= cycle('even', 'odd') -%>">
        <td><%= link_to route.name.html_safe, route %></td>
      </tr>
    <% end %>
  </tbody>
</table>

