%p{:id=>"notice"}= notice

%h1= @route.name

%table
  %tbody
    %tr
      - @route.stops.each do |stop|
        %th= stop.name.html_safe
    - @route.runs.each do |run|
      %tr
        - run.times.split(",").each do |s|
          %td= s
