*{
  margin:0;
  padding:0;
}

body{
  font-family: 'Raleway', sans-serif;
}

h1{
  background-color: #005281;
  color: white;
  text-align: center;
  padding: 5px;
}

#main_content{
  margin: 20px;
}

#breadcrumb{
  color: #727272;
  display: flex;
}

a.breadcrumb{
  text-decoration: none;
  color: #727272;
}

h2.breadcrumb{
  padding-right: 15px;
}

table{
  width:100%;
  border-collapse: collapse;
}

th {
  font-size:2em;
  background-color: white;
  color: #ea3d2f;
}

th.stops{
  color: black;
  font-size:0.8em;
  font-weight: normal;
  border: black 1px solid;
}

td{
  padding: 5px;
  font-size: 0.9em;
  text-align: center;
}

tr.odd{
  background-color: #d8d8d8;
}
